* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .hero{
    background-image: url(./bg.png);
     background-size:contain;
     background-position: center;
     background-repeat: no-repeat;
  background-attachment: fixed;
  height: 92.5vh;
  text-align: center;
  }
  .navbar{
    width: 1018px;
    margin-left: 174px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #000;
  }
  .line{
    background-color: #fff;
    height: 45px;
    width: 2px;
  }
  li{
    list-style: none;
    color: #fff;
  }
  .grow-list ul{
    margin-right: 350px;
    display: flex;
  }
  ul{
    gap: 20px;
  }
  .navbar img{
    padding-top: 5px;
    height: 35px;
  }
.button-small{
    margin-right: 50px;
     background: #ba0cc5;
     line-height: 24px;
     padding: 4px 15px;
     border-radius: 6px;
    color: #fff;
    font-weight: 400;


}
.list-item{
     font-weight: 600;
  font-size: 10px;
}
.hero-heading{
    padding-top: 110px;
    padding-left: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.hero-description{
    color: #fff;
}
.button-large{
  background: #ba0cc5;
     line-height: 24px;
     padding: 8px 20px;
     border-radius: 6px;
     cursor: pointer;
     margin-top: 100px;
     color: #fff;
     font-weight: 600;
     font-size: 20px;
     border: none;
}